{%- comment -%}
This snippet uses Variable Scope and can be re-used throughout the theme.
To use this snippet in sections, add render tag with key: value for assigned variables.
For Example:
This is the target button id that will open the modal.
<button id="modalBtn">TEST MODAL</button>
=========================================================================
Here is a render tag example to use in the section with some example variables declared.
Note the openModalBtn matches the button element above which triggers the modal in this example.
=========================================================================
{%- render 'dynamic-modal', 
  id: "testModal", 
  openModalBtn: "modalBtn",
  title: "Modal Title",
  body: "Modal Body",
  buttonOne: "Button One",
  buttonOneStyle: "text-white bg-blue-500 hover:bg-blue-700",
  buttonOneFunction: "javascript:void(0);",
  buttonTwo: "Button Two",
  buttonTwoStyle: "text-white bg-transparent hover:bg-blue-700 text-blue-500 hover:text-white border border-blue-500 hover:border-transparent",
  buttonTwoFunction: "javascript:void(0);" 
-%}
=========================================================================
id, openModalBtn, title and body are required. If you don't want buttons make the value = null.
=========================================================================
{%- endcomment -%}

<section class="hidden" id="{{ id }}">
    <div class="flex items-center justify-center fixed left-0 bottom-0 w-full h-full bg-black bg-opacity-75 z-50" id="modalContainer">
        <div class="bg-white rounded-lg w-1/2">
            <div class="flex flex-col items-start p-4">
                <div class="flex items-center w-full">
                    <div class="text-gray-900 font-medium text-xl">{{ title }}</div>
                    <span class="ml-auto fill-current text-gray-700 w-6 h-6 cursor-pointer" id="closeModalBtn">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                            <path
                                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" />
                        </svg>
                    </span>
                </div>
                <hr>
                <div class="my-4">{{ body }}</div>
                <hr>
                <div class="ml-auto my-2">
                    {%- if buttonOne -%}
                        <button 
                        class="{{ buttonOneStyle }} mx-2 py-2 px-4 rounded"
                        onclick="{{ buttonOneFunction }}">
                            {{ buttonOne }}
                        </button>
                    {%- endif -%}
                    {%- if buttonTwo -%}
                        <button 
                        class="{{ buttonTwoStyle }} mx-2 py-2 px-4 rounded"
                        onclick="{{ buttonTwoFunction }}">
                            {{ buttonTwo }}
                        </button>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // Assignments
    var modal = document.getElementById("{{ id }}");
    var modalContainer = document.getElementById("modalContainer");
    var btn = document.getElementById("{{ openModalBtn }}");
    var closeBtn = document.getElementById("closeModalBtn");

    // Button click handler 
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // X icon click handler
    closeBtn.onclick = function () {
        modal.style.display = "none";
    }

    // Click outside modal close click handler
    window.onclick = function (event) {
        if (event.target == modalContainer) {
            modal.style.display = "none";
        }
    }
</script>
